@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}

body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;
}

a{
    text-decoration: none;
    color: inherit;
}

.centerWrap{
    max-width: 1000px;
    margin: 0 auto;
}

.topNav .centerWrap{
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topNav2 {
    border-bottom: 1px solid #ddd;
}

.topNav2 .centerWrap{
    height: 44px;
    display: flex;
    align-items: center;
}

.topNav2 .logo{
    margin-right: auto;
    font-size: 22px;
    font-weight: bold;
}

.topNav2 a:not(.logo){
    margin-left: 15px;
}